doctype html
html
  head
    title= title
    meta(charset="utf-8")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(type='text/javascript', src='/javascripts/zepto.min.js')
    script(type='text/javascript', src='/javascripts/zepto.touch.js')
    script(type='text/javascript', src="/javascripts/template.js")
    script(type='text/javascript', src="/javascripts/main.js")
  body
    block content