extends layout

block content
  div.printOut(style="text-align:center;")
    h1= title
    p Welcome to 搜索公众号#{title}
  br
  div.printOut
    label#page-exp 页码
    input(type="number" class="form-control" id="page" value="1" min="1" max="10" placeholder="当前页码")
    input(type="text" class="form-control" id="openid" placeholder="公众号openid")
    input#getData-btn.btn.btn-success(type='button', value='获取数据')
  div(style="clear:both;")
  br
  br
  br
  div#printOut.printOut
  iframe#iframe(src="http://weixin.sogou.com/gzhjs?cb=sogou.weixin.gzhcb&openid=oIWsFt43V1xR1ex9g_dgSpo8qvwI&page=1&t=1405312837244", style="display:none;")


  script(type='text/javascript', src="/javascripts/template.js")
  script(type='text/javascript', src="/javascripts/main.js")

